<head>
     <link rel="stylesheet" href="static/style.css" type="text/css">
     <link rel="stylesheet" href="https://unpkg.com" />
     <script src="https://unpkg.com"></script>
     <style>
         #map{height: 600px; width:100%; margin:10px;background-color:red;}
     </style>
</head>
<body >
    find care
    <div id="pages">
            <a href="{{ url_for('home') }}" class="page_link_active">Home</a>
            <a href="{{ url_for('find_care') }}" class="page_link">Find Care</a>
        </div>
hi
<button onclick="getLocation()">Find Nearby Hospitals</button>
<div id="map"></div>


<script>
    // L is leaflet (open-source javascript library for maps)
    let map = L.map('map').setView([0,0],2)

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
        {attribution: '© OpenStreetMap contributors'}).addTo(map)


    function getLocation(){
        if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    const lat = position.coords.latitude;
                    const lon = position.coords.longitude;

                    // Recenters map to user's location
                    map.setView([lat, lon], 13);
                    L.marker([lat, lon]).addTo(map).bindPopup("<b>You are here!</b>").openPopup();

                    // Fetch the data from your Flask endpoint
                    fetch(`/get_hospitals?lat=${lat}&lon=${lon}`)
                        .then(response => response.json())
                        .then(hospitals => {
                            hospitals.forEach(hospital => {
                                // Add a map pin for every hospital returned
                                L.marker([hospital.lat, hospital.lon])
                                 .addTo(map)
                                 .bindPopup(`<b>${hospital.name}</b>`);
                            });
                        });
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
    }
</script>
</body>